extends layout/main-layout.pug

block content 
  if !user
    h3 Profile Not Found 
    //- render a mixin that says account not found.
  else
    script.
      var profileUserId = !{profileUserId}
      var selectedTab = '!{selectedTab}'

    .profileHeaderContainer 
      .coverPhotoSection
        .coverPhotoContainer
          if user.coverPicture
            img(src=user.coverPicture, alt="")
          if user.id == userLoggedIn.id
            button.coverPhotoButton(data-toggle="modal", data-target="#imageUploadModal" data-image-type="coverPhoto")
              i.fas.fa-camera

        .userImageContainer 
          img(src=user.profilePicture, alt="")
          if user.id == userLoggedIn.id
            button.profilePictureButton(data-toggle="modal", data-target="#imageUploadModal" data-image-type="profilePhoto")
              i.fas.fa-camera
      
      .profileButtonsContainer
        if user.id != userLoggedIn.id
          a.profileButton(href=`/messages/${user.username}`)
            i.fas.fa-envelope
          +createFollowButton(user, true)

      .userDetailsContainer
        span.displayName #{user.firstName} #{user.lastName}
        span.username @#{user.username}

        .followersContainer
          a(href=`/profile/${user.username}/following`) 
            span.value 0
            span Following

          a(href=`/profile/${user.username}/followers`) 
            span.value 0
            span Followers
      .tabsContainer
        +createTab('Posts', `/profile/${user.username}`, selectedTab != 'replies')
        +createTab('Replies', `/profile/${user.username}/replies`, selectedTab == 'replies')

    .postsContainer
    +createDeletePostModal(userLoggedIn)
    +createImageUploadModal()

block scripts 
  script(src='/js/profile.js')
